aiogram~=3.13.1
sentry-sdk==1.45.1
SQLAlchemy~=2.0.35
aiohttp~=3.10.8
sulguk~=0.8.0
pydantic~=2.9.2
base58~=2.1.1
requests~=2.32.3
tronpy~=0.5.0
loguru~=0.7.2
tzlocal~=5.2
APScheduler~=3.10.4
jsonpickle==3.3.0
pydantic-settings
redis~=5.1.0
cryptocode~=0.1
stellar-sdk~=11.1.0
python-dateutil~=2.9.0
gspread-asyncio
qrcode~=7.4.2
pillow~=10.4.0
openai==1.50.2
fdb
sqlalchemy-firebird
aiohttp-sse-client
sqlalchemy-stubs
opencv-python~=4.10.0.84
pip
pyzbar~=0.1.9
motor
uvloop
pytonapi