aiogram==3.4.1
sentry-sdk==1.41.0
SQLAlchemy~=2.0.25
aiohttp~=3.9.1
sulguk~=0.7.0
pydantic~=2.5.3
base58~=2.1.1
requests~=2.31.0
tronpy~=0.4.0
loguru~=0.7.2
tzlocal~=5.2
APScheduler~=3.10.4
jsonpickle==3.0.3
pydantic-settings
redis~=5.0.1
cryptocode~=0.1
stellar-sdk
python-dateutil~=2.8.2
gspread-asyncio
qrcode~=7.4.2
pillow~=10.2.0
openai==1.13.3
fdb
sqlalchemy-firebird
aiohttp-sse-client
sqlalchemy-stubs
opencv-python
