aiogram~=3.13.1
sentry-sdk==1.45.1
SQLAlchemy~=2.0.35
aiohttp
sulguk~=0.8.0
pydantic~=2.9.2
base58~=2.1.1
requests~=2.32.3
tronpy~=0.5.0
loguru~=0.7.2
tzlocal~=5.2
APScheduler~=3.10.4
jsonpickle==3.3.0
pydantic-settings~=2.6.0
redis~=5.1.0
cryptocode~=0.1
stellar-sdk~=11.1.0
python-dateutil~=2.9.0
gspread-asyncio
qrcode~=7.4.2
pillow~=10.4.0
openai==1.50.2
fdb
sqlalchemy-firebird==2.0.2
aiohttp-sse-client
sqlalchemy-stubs
opencv-python~=4.10.0.84
pip
pyzbar~=0.1.9
motor~=3.6.0
uvloop~=0.21.0
pytonapi~=0.4.3
tonutils
pytoniq~=0.1.40
environs~=11.2.1
gspread_asyncio~=2.0.0
protobuf~=5.28.3
faststream[redis]
